* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background: #F8F9FF;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }